<section class="driver-info">
    <div class="container">
        <div class="driver-info_header">
            <img src="../../../../assets/icons/arrow-left.svg" alt="back" class="back-icon arrow" (click)="location.back()">
            <h4>{{"Orders.driver" | translate}}</h4>
        </div>
        <div class="driver-info_content">
            <div class="driver-info_driver_details">
                <img src="../../../../assets/icons/driver-img.png" alt="driver-img">
                <h4>Rayford Chenail</h4>
                <div class="driver-info_number_block" (click)="copyDriverNum()">
                    <span class="driver-info_number" #driverNum>+1-202-555-0161</span>
                    <img *ngIf="!isNumCopied" src="../../../../assets/icons/copy.svg" alt="copy">
                    <img *ngIf="isNumCopied" src="../../../../assets/icons/green-tick.svg" alt="copied">
                </div>
            </div>
            <div class="driver-info_experience">
                <div class="driver-info_experience_block">
                    <img src="../../../../assets/icons/driver-star.svg" alt="rating">
                    <h6>4.8</h6>
                    <span>{{"Orders.rating" | translate}}</span>
                </div>
                <div class="driver-info_experience_block">
                    <img src="../../../../assets/icons/driver-bag.svg" alt="rating">
                    <h6>425</h6>
                    <span>{{"Orders.orders" | translate}}</span>
                </div>
                <div class="driver-info_experience_block">
                    <img src="../../../../assets/icons/driver-time.svg" alt="experience">
                    <h6>4</h6>
                    <span>{{"Orders.experience" | translate}}</span>
                </div>
            </div>
            <div class="driver-info_transport_info">
                <div class="driver-info_transport_info_block">
                    <span class="driver-info_transport_info_block_title">{{"Orders.member-since" | translate}}</span>
                    <span class="driver-info_transport_info_block_content">July 15, 2019</span>
                </div>
                <div class="driver-info_transport_info_block">
                    <span class="driver-info_transport_info_block_title">{{"Orders.transport-model" | translate}}</span>
                    <span class="driver-info_transport_info_block_content">Yamaha MX King</span>
                </div>
                <div class="driver-info_transport_info_block">
                    <span class="driver-info_transport_info_block_title">{{"Orders.plate-number" | translate}}</span>
                    <span class="driver-info_transport_info_block_content">HSW 4736 XK</span>
                </div>
            </div>
            <div class="driver-info_actions">
                <button>
                    <img src="../../../../assets/icons/driver-sms.svg" alt="sms">
                </button>
                <button>
                    <img src="../../../../assets/icons/driver-phone.svg" alt="call">
                </button>
            </div>
        </div>
    </div>
</section>