$primaryColor_light: #1BAC4B;

$secondaryColor_light: #FFD300;

$successColor_light: #1BAC4B;

$infoColor_light: #246BFD;

$warningColor_light: #FACC15;

$errorColor_light: #F75555;

$disabledColor_light: #D8D8D8;

$disabledBtnColor_light: #29974D;

$secondaryBtnColor_light: #E8F7ED;
$secondaryBtnColor_dark: #35383F;

$transparentGreenColor_light: rgba(27, 172, 75, 0.08);

$greyscaleColor900_light: #212121;
$greyscaleColor900_dark: #FFFFFF;

$greyscaleColor800_light: #424242;
$greyscaleColor800_dark: #FAFAFA;

$greyscaleColor700_light: #616161;
$greyscaleColor700_dark: #E0E0E0;

$greyscaleColor600_light: #757575;

$greyscaleColor500_light: #9E9E9E;

$greyscaleColor400_light: #BDBDBD;

$greyscaleColor300_light: #BDBDBD;

$greyscaleColor200_light: #EEEEEE;
$greyscaleColor200_dark: #35383F;

$greyscaleColor100_light: #F5F5F5;
$greyscaleColor100_dark: #1F222A;


$greyscaleColor50_light: #FAFAFA;

$white_light: #FFFFFF;

$bottomNavigationBg_light: #FFFFFF;
$bottomNavigationBg_dark: rgba(24, 26, 32);

$searchTextColor_light: #212121;
$searchTextColor_dark: #FFFFFF;

$foodCardBg_light: #FFFFFF;
$foodCardBg_dark: #1F222A;

@mixin lighten() {
    --primaryColor: #{$primaryColor_light};
    --secondaryColor: #{$secondaryColor_light};
    --successColor: #{$successColor_light};
    --infoColor: #{$infoColor_light};
    --warningColor: #{$warningColor_light};
    --errorColor: #{$errorColor_light};
    --disabledColor: #{$disabledColor_light};
    --disabledBtnColor: #{$disabledBtnColor_light};
    --secondaryBtnColor: #{$secondaryBtnColor_light};
    --transparentGreenColor: #{$transparentGreenColor_light};
    --greyscaleColor900: #{$greyscaleColor900_light};
    --greyscaleColor800: #{$greyscaleColor800_light};
    --greyscaleColor700: #{$greyscaleColor700_light};
    --greyscaleColor600: #{$greyscaleColor600_light};
    --greyscaleColor500: #{$greyscaleColor500_light};
    --greyscaleColor400: #{$greyscaleColor400_light};
    --greyscaleColor300: #{$greyscaleColor300_light};
    --greyscaleColor200: #{$greyscaleColor200_light};
    --greyscaleColor100: #{$greyscaleColor100_light};
    --greyscaleColor50: #{$greyscaleColor50_light};
    --white: #{$white_light};
    --bottomNavigationBg: #{$bottomNavigationBg_light};
    --searchTextColor: #{$searchTextColor_light};
    --foodCardBg: #{$foodCardBg_light};
}

@mixin darken() {
    --primaryColor: #{$primaryColor_light};
    --secondaryColor: #{$secondaryColor_light};
    --successColor: #{$successColor_light};
    --infoColor: #{$infoColor_light};
    --warningColor: #{$warningColor_light};
    --errorColor: #{$errorColor_light};
    --disabledColor: #{$disabledColor_light};
    --disabledBtnColor: #{$disabledBtnColor_light};
    --secondaryBtnColor: #{$secondaryBtnColor_dark};
    --transparentGreenColor: #{$transparentGreenColor_light};
    --greyscaleColor900: #{$greyscaleColor900_dark};
    --greyscaleColor800: #{$greyscaleColor800_dark};
    --greyscaleColor700: #{$greyscaleColor700_dark};
    --greyscaleColor600: #{$greyscaleColor600_light};
    --greyscaleColor500: #{$greyscaleColor500_light};
    --greyscaleColor400: #{$greyscaleColor400_light};
    --greyscaleColor300: #{$greyscaleColor300_light};
    --greyscaleColor200: #{$greyscaleColor200_dark};
    --greyscaleColor100: #{$greyscaleColor100_dark};
    --greyscaleColor50: #{$greyscaleColor50_light};
    --white: #{$white_light};
    --bottomNavigationBg: #{$bottomNavigationBg_dark};
    --searchTextColor: #{$searchTextColor_dark};
    --foodCardBg: #{$foodCardBg_dark};
}