<section class="profile_favorites">
    <div class="container">
        <div class="profile_favorites_header">
            <img src="../../../../assets/icons/arrow-left.svg" alt="back" class="back-icon arrow" (click)="location.back()">
            <h4>{{"Profile.favorites-page.title" | translate}}</h4>
        </div>
        <div class="profile_favorites_content" *ngIf="(selectFavorites$ | async) as favorites">
            <div class="profile_favorites_item home-page_menu_category_item" *ngFor="let item of favorites.data" [routerLink]="'/home/menu/' + item.id">
                <img src="../../../../assets/icons/menu-example.png" alt="menu">
                <div class=" profile_favorites_item_content home-page_menu_category_item_content">
                    <h5>{{item.name}}</h5>
                    <div class="profile_favorites_item_time home-page_menu_category_item_time">
                        <p>
                            <img src="../../../../assets/icons/meat.svg" alt="cooking_time">
                            <span *ngIf="item.preparation_time != 0">{{item.preparation_time}}</span>
                            <span *ngIf="item.preparation_time == 0">{{"Home.ready" | translate}}</span>
                        </p>
                        <p>
                            <img src="../../../../assets/icons/truck.svg" alt="delivery_time">
                            <span>20 min</span>
                        </p>
                    </div>
                    <div class="profile_favorites_item_footer home-page_menu_category_item_footer">
                        <img *ngIf="!item.is_favourite" src="../../../../assets/icons/heart-red.svg" alt="like" (click)="toggleFavorite(!item.is_favourite, item.id)">
                        <img *ngIf="item.is_favourite" src="../../../../assets/icons/heart-clicked.svg" alt="unlike" (click)="toggleFavorite(!item.is_favourite, item.id)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>