<section class="profile-notifications">
    <div class="container">
        <div class="profile-notifications_header">
            <img src="../../../../assets/icons/arrow-left.svg" alt="back" class="back-icon arrow" (click)="location.back()">
            <h4>{{"Profile.notifications-page.title" | translate}}</h4>
        </div>
        <div class="profile-notifications_content">
            <form class="profile-notifications_form" [formGroup]="notificationForm">
                <ul *ngIf="selectNotification | async as notifications">
                    <li *ngFor="let notification of notifications; let i = index" (click)="updatePreferences(notification)">
                        <span>{{notification.value}}</span>
                        <input type="checkbox" [id]="notification.key" [formControlName]="notification.key" [id]="notification.key"><label [for]="notification.key" class="notificationToggle ios"></label>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</section>