<section class="payment-methods">
    <div class="container">
        <div class="payment-methods_header">
            <img src="../../../../assets/icons/arrow-left.svg" alt="back" class="back-icon arrow" (click)="location.back()">
            <h4>{{"Payment.title" | translate}}</h4>
        </div>
        <div class="payment-methods_content">
            <ul class="payment-methods_list" *ngIf="(selectPaymentMethods$ | async) as paymentMethods">
                <li class="payment-methods_item" *ngFor="let method of paymentMethods">
                    <div class="payment-methods_item_content">
                        <img src="../../../../assets/icons/wallet-green.svg" alt="cash">
                        <h6>{{method.name}}</h6>
                    </div>
                    <div class="payment-methods_item_state">
                        <span></span>
                    </div>
                </li>
            </ul>
            <button class="payment-methods_choose_btn">{{"Payment.payment-methods.choose" | translate}}</button>
        </div>
    </div>
</section>