<div class="profile-language" *ngIf="(selectUserData$ | async) as user">
    <div class="container">
        <div class="profile-language_header">
            <img src="../../../../assets/icons/arrow-left.svg" alt="back" class="back-icon arrow" (click)="location.back()">
            <h4>{{"Profile.language-page.title" | translate}}</h4>
        </div>
        <ul>
            <li  (click)="updateLanguage(user.first_name,user.last_name,locales.UZ)">
                <div class="profile-language_item">
                    <span class="profile-language_item_content">O'zbek tili</span>
                    <div class="language_state">
                        <span *ngIf="homeService.chosenLanguage == 'uz'"></span>
                    </div>
                </div>
            </li>
            <li (click)="updateLanguage(user.first_name,user.last_name,locales.RU)">
                <div class="profile-language_item">
                    <span class="profile-language_item_content">Русский</span>
                    <div class="language_state">
                        <span *ngIf="homeService.chosenLanguage == 'ru'"></span>
                    </div>
                </div>
            </li>
            <li (click)="updateLanguage(user.first_name,user.last_name,locales.EN)">
                <div class="profile-language_item">
                    <span class="profile-language_item_content">English</span>
                    <div class="language_state">
                        <span *ngIf="homeService.chosenLanguage == 'en'"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>