<section class="basket">
    <div class="container">
        <div class="basket_header">
            <img src="../../../../assets/icons/arrow-left.svg" alt="back" class="back-icon arrow" (click)="location.back()">
            <h4>{{"Orders.basket" | translate}}</h4>
        </div>
        <div class="basket_content" *ngIf="selectCart$ | async as cart">
            <ng-container *ngIf="cart.items.length > 0; else emptyBasket">
                <button class="basket_clear" (click)="clearBasket()">{{"Orders.clear" | translate}}</button>
                <div class="basket_item food-cart" *ngFor="let item of cart.items" [routerLink]="'/home/menu/' + item.item_id">
                    <img src="../../../../assets/icons/menu-example.png" alt="meal-photo">
                    <div class="basket_item_info food-cart_content">
                        <h5>{{item.name}}</h5>
                        <span class="basket_item_quantity">
                            <span class="minus sign" (click)="changeQuantity(item, false); $event.stopPropagation()">&minus;</span>
                            <span class="basket_item_quantity_counter" *ngIf="!isQuantityLoading">{{item.quantity}}</span>
                            <span *ngIf="isQuantityLoading" class="loading-spinner-button quantity-spinner"></span>
                            <span class="plus sign" (click)="changeQuantity(item, true); $event.stopPropagation()">+</span>
                        </span>
                        <span class="basket_item_price">
                            {{+item.price * +item.quantity}} сум
                        </span>
                    </div>
                    <div class="basket_item_delete" (click)="chooseItemTodelete(item); $event.stopPropagation()">
                        <img src="../../../../assets/icons/red-bin.svg" alt="delete">
                    </div>
                </div>
                <button class="basket_make_order" routerLink="/orders/checkout">{{"Orders.make-order" | translate}}</button>
            </ng-container>
            <ng-template #emptyBasket>
                <div class="basket_empty">
                    <img src="../../../../assets/icons/empty.png" alt="empty">
                    <div class="basket_empty_content">
                        <h4>{{"Orders.empty" | translate}}</h4>
                        <span>{{"Orders.basket-page.empty" | translate}}</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <app-bottom-navigation></app-bottom-navigation>
</section>

<app-shared-modal *ngIf="showDeleteItemModal"
                  [modalType]="'success'"
                  [imageUrl]="'../../../../assets/icons/smile-heart.png'"
                  [title]="'Orders.basket-page.delete-item'| translate"
                  [description]="('Orders.basket-page.ask-delete-item' | translate) + ' ' + itemToBeRemoved.name"
                  [primaryButtonLabel]="'Orders.basket-page.delete' | translate"
                  [secondaryButtonLabel]="'Orders.basket-page.cancel' | translate"
                  (primaryButtonClick)="deleteItem()"
                  (secondaryButtonClick)="cancelDeleteItem()"
                  (outsideClick)="cancelDeleteItem()"></app-shared-modal>