<ng-container *ngIf="!offerLoaded">
    <div class="special-offer-item">
        <div class="container">
            <div class="special-offer-item_wrapper">
                <div class="special-offer-item_header" [style.paddingTop]="0" style.background="none">
                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{height: '40vh'}"></ngx-skeleton-loader>
                </div>
                <div class="special-offer-item_content">
                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{marginTop: '45px', height: '40px', width: '300px'}"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{marginTop:'10px', height: '150px'}"></ngx-skeleton-loader>
                </div>
                <div class="special-offer-item_actions">
                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{height: '40px', width: '100px'}"></ngx-skeleton-loader>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div class="special-offer-item" *ngIf="offerLoaded">
    <div class="container">
        <div class="special-offer-item_wrapper" >
            <div class="special-offer-item_header">
                <img src="../../../../assets/icons/arrow-left-white.svg" alt="back" class="back-icon arrow" (click)="location.back()">
            </div>
            <div class="special-offer-item_content">
                <h3>{{currentOffer?.name}}</h3>
                <p>{{currentOffer?.description}}</p>
            </div>
            <div class="special-offer-item_actions">
                <button [style.background]="currentOffer?.order_button_color_hex">{{currentOffer?.order_button_text}}</button>
            </div>
        </div>
    </div>
</div>

<!-- [style.background]="'url(' + currentOffer?.image + ') no-repeat center'" -->