.special-offer-item {
    &_header {
        height: 40vh;
        background: url('../../../../../assets/icons/offer-example.png') no-repeat center;
        background-size: cover;
        padding-top: 24px;
        img {
            margin-left: 24px;
        }
    }
}