::ng-deep .owl-stage {
    padding-left: 30px !important
}

.home-page {
    padding-top: 16px;
    padding-bottom: 150px;
    background: var(--mainBg);
    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 24px;
        .user-image {
            padding: 0;
            width: 48px;
            border-radius: 100px;
            cursor: pointer;
        }
        
        &_location {
            p {
                font-size: 16px;
                color: var(--greyscaleColor600);
                margin: 0;
            }
            &_name {
                display: flex;
                align-items: center;
                cursor: pointer;
                span {
                    font-size: 18px;
                    font-weight: 700;
                    max-width: 50vw;
                    color: var(--greyscaleColor900);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        &_notifications {
            position: relative;
            padding: 10px 12px;
            border: 1px solid var(--greyscaleColor200);
            border-radius: 100px;
            cursor: pointer;
            .notification-indicator {
                width: 5px;
                left: 6px;
            }
        }
    }
    &_showAll {
        color: var(--primaryColor);
        font-weight: 700;
        cursor: pointer;
    }
    &_offers {
        &_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h5 {
                color: var(--greyscaleColor900)
            }
        }
        &_carousel {
            display: flex;
            img {
                margin-left: 12px;
                cursor: pointer;
            }
        }
    }
    &_popular {
        &_header {
            h5 {
                color: var(--greyscaleColor900)
            }
        }
        &_item {
            position: relative;
            display: flex;
            flex-direction: column;
            // margin-left: 12px;
            padding: 14px;
            border-radius: 28px;
            background: var(--blockBg);
            box-shadow: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);
            cursor: pointer;
            &_discount {
                position: absolute;
                top: 26px;
                left: 26px;
                font-size: 10px;
                font-weight: 600;
                color: var(--white);
                background: var(--primaryColor);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                padding: 6px 10px;
                border-radius: 6px;
            }
            h5 {
                margin: 0;
                margin-top: 12px;
                color: var(--greyscaleColor900);
            }
            &_img {
                width: 80vw;
                cursor: pointer;
            }
            &_time {
                display: flex;
                align-items: center;
                p {
                    display: flex;
                    align-items: center;
                    color: var(--greyscaleColor700);
                    // padding-right: 5px;
                    position: relative;
                    &:first-of-type:after {
                        background: #616161;
                        content: "";
                        height: 50%;
                        width: 1px;
                        position: absolute;
                        right: 0;
                        bottom: 3px;
                    }
                    span {
                        &:first-of-type {
                            padding-right: 5px;
                            padding-left: 5px;
                        }
                        &:last-of-type {
                            padding-right: 5px;
                            padding-left: 5px;
                        }
                    }
                    &:last-of-type {
                        padding-left: 5px;
                        padding-right: 0;
                    }
                }
                img {
                    width: 16px;
                }
            }
            &_footer {
                display: flex;
                h5 {
                    color: var(--primaryColor);
                    padding-right: 8px;
                    margin: 0;
                    border-right: 1px solid var(--greyscaleColor700)
                }
                img {
                    padding-left: 8px;
                    width: 32px;
                }
            }
        }
    }
    &_menu {
        h5 {
            color: var(--greyscaleColor900);
            margin: 0;
        }
        &_categories_list {
            margin-top: 24px;
        }
        &_list {
            margin-top: 20px;
        }
        &_category {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    &_search {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    &_like_btn {
        cursor: pointer;
    }

    &_categories {
        margin-top: 35px;
        margin-bottom: 24px;
    }

    &_category {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        img {
            max-width: 60px;
        }
        span {
            font-size: 16px;
            font-weight: 700;
            color: var(--greyscaleColor900);
        }
    }
}

@media (min-width:998px) {
    .home-page_header_location_name {
        span {
            max-width: 33vw;
        }
    }
}