<section class="home-page">
        <div class="home-page_content">
            <div class="container">
                <div class="home-page_header">
                    <ng-template #userImageLoading>
                        <ngx-skeleton-loader count="1" appearance="circle"></ngx-skeleton-loader>
                    </ng-template>
                        <img *ngIf="selectUserData$ | async as user; else userImageLoading"
                             [src]="user.image || '../../../../assets/icons/user-photo.svg'"
                             alt="user-image" class="user-image"
                             routerLink="/profile/settings">
                    <div class="home-page_header_location">
                        <p>{{"Home.delivery-address" | translate}}</p>
                        <div class="home-page_header_location_name"
                             routerLink="/home/deliver-to">
                            <ng-template #userAddressLoading>
                                <ngx-skeleton-loader count="1" appearance="line" [theme]="{width: '45vw'}"></ngx-skeleton-loader>
                            </ng-template>
                            <ng-container *ngIf="selectChosenAddress$ | async as userAdresses; else userAddressLoading">
                                <span>
                                    {{userAdresses.address}}
                                </span>
                                <img src="../../../../assets/icons/arrow-down.svg" alt="show addresses">
                            </ng-container>
                        </div>
                    </div>
                    <div class="home-page_header_notifications">
                        <img src="../../../../assets/icons/notification.svg" alt="notifications" class="notifications_img">
                    </div>
                </div>
                <div class="home-page_search">
                    <app-search></app-search>
                </div>
            </div>
            <ng-template #offersName>
                <div class="home-page_offers">
                    <div class="container">
                            <div class="home-page_offers_header">
                                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{width: '30vw'}"></ngx-skeleton-loader>
                                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{width: '5vw'}"></ngx-skeleton-loader>
                            </div>
                        <div class="home-page_offers_content" style="display: flex; justify-content: space-around">
                            <div class="home-page_offers_carousel" style="margin-right: 20px;">
                                <ngx-skeleton-loader count="1" appearance="line" [theme]="{width: '28vw', height: '20vh'}"></ngx-skeleton-loader>
                            </div>
                            <div class="home-page_offers_carousel" style="margin-right: 20px;">
                                <ngx-skeleton-loader count="1" appearance="line" [theme]="{width: '28vw', height: '20vh'}"></ngx-skeleton-loader>
                            </div>
                            <div class="home-page_offers_carousel">
                                <ngx-skeleton-loader count="1" appearance="line" [theme]="{width: '28vw', height: '20vh'}"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <div class="home-page_offers" *ngIf="(selectOffers$ | async) as offers; else offersName">
                <div class="container">
                    <div class="home-page_offers_header home-page_header">
                        <h5>{{offers.name}}</h5>
                        <span class="home-page_showAll" routerLink="/home/special-offers">{{"Home.all" | translate}}</span>
                    </div>
                </div>
                <div class="home-page_offers_content">
                    <owl-carousel-o [options]="offersCarouselOptions" #owlSlide>
                        <ng-container *ngFor="let offer of offers.items">
                            <ng-template carouselSlide>
                                <div class="home-page_offers_carousel">
                                    <img src="../../../../assets/icons/offer-example.png" [alt]="offer.name"  [routerLink]="'/home/special-offers/' + offer.id">
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
            <div class="home-page_popular" *ngIf="(selectPopular$ | async) as popularMeals; else offersName">
                <div class="container">
                    <div class="home-page_popular_header home-page_header">
                        <h5>{{popularMeals[0].name}}</h5>
                        <span class="home-page_showAll">{{"Home.all" | translate}}</span>
                    </div>
                </div>
                <div class="home-page_popular_content">
                    <owl-carousel-o [options]="popularCarouselOptions" #owlSlide>
                        <ng-container *ngFor="let popular of popularMeals[0].items">
                            <ng-template carouselSlide>
                                <div class="home-page_popular_item">
                                    <span class="home-page_popular_item_discount" *ngIf="popular.has_discount">{{popular.discount.value}}</span>
                                    <img src="../../../../assets/icons/popular-example.png" [alt]="popular.name" class="home-page_popular_item_img">
                                    <h5>{{popular.name}}</h5>
                                    <div class="home-page_popular_item_time">
                                        <p>
                                            <img src="../../../../assets/icons/meat.svg" alt="cooking_time">
                                            <span>20 min</span>
                                        </p>
                                        <p>
                                            <img src="../../../../assets/icons/truck.svg" alt="delivery_time">
                                            <span>20 min</span>
                                        </p>
                                    </div>
                                    <div class="home-page_popular_item_footer">
                                        <h5>{{popular.price}} so'm</h5>
                                        <img src="../../../../assets/icons/heart-red.svg" alt="">
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngFor="let popular of popularMeals[0].items">
                            <ng-template carouselSlide>
                                <div class="home-page_popular_item">
                                    <img src="../../../../assets/icons/popular-example.png" [alt]="popular.name" class="home-page_popular_item_img">
                                    <h5>{{popular.name}}</h5>
                                    <div class="home-page_popular_item_time">
                                        <p>
                                            <img src="../../../../assets/icons/meat.svg" alt="cooking_time">
                                            <span>20 min</span>
                                        </p>
                                        <p>
                                            <img src="../../../../assets/icons/truck.svg" alt="delivery_time">
                                            <span>20 min</span>
                                        </p>
                                    </div>
                                    <div class="home-page_popular_item_footer">
                                        <h5>{{popular.price}} so'm</h5>
                                        <img src="../../../../assets/icons/heart-red.svg" alt="">
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngFor="let popular of popularMeals[0].items">
                            <ng-template carouselSlide>
                                <div class="home-page_popular_item">
                                    <img src="../../../../assets/icons/popular-example.png" [alt]="popular.name" class="home-page_popular_item_img">
                                    <h5>{{popular.name}}</h5>
                                    <div class="home-page_popular_item_time">
                                        <p>
                                            <img src="../../../../assets/icons/meat.svg" alt="cooking_time">
                                            <span>20 min</span>
                                        </p>
                                        <p>
                                            <img src="../../../../assets/icons/truck.svg" alt="delivery_time">
                                            <span>20 min</span>
                                        </p>
                                    </div>
                                    <div class="home-page_popular_item_footer">
                                        <h5>{{popular.price}} so'm</h5>
                                        <img src="../../../../assets/icons/heart-red.svg" alt="">
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>     
                        <ng-container *ngFor="let popular of popularMeals[0].items">
                            <ng-template carouselSlide>
                                <div class="home-page_popular_item">
                                    <img src="../../../../assets/icons/popular-example.png" [alt]="popular.name" class="home-page_popular_item_img">
                                    <h5>{{popular.name}}</h5>
                                    <div class="home-page_popular_item_time">
                                        <p>
                                            <img src="../../../../assets/icons/meat.svg" alt="cooking_time">
                                            <span>20 min</span>
                                        </p>
                                        <p>
                                            <img src="../../../../assets/icons/truck.svg" alt="delivery_time">
                                            <span>20 min</span>
                                        </p>
                                    </div>
                                    <div class="home-page_popular_item_footer">
                                        <h5>{{popular.price}} so'm</h5>
                                        <img src="../../../../assets/icons/heart-red.svg" alt="">
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>     
                    </owl-carousel-o>
                </div>
            </div>
        </div>
        <app-bottom-navigation></app-bottom-navigation>
</section>