<div class="exit-modal">
    <div class="container">
        <div class="exit-modal_header">
            <h4>
                {{"Profile.exit-modal.title" | translate}}
            </h4>
        </div>
        <div class="exit-modal_content">
            <h5>{{"Profile.exit-modal.content" | translate}}</h5>
            <div class="exit-modal_actions">
                <button class="cancel-btn" mat-dialog-close>{{"Profile.exit-modal.cancel-btn" | translate}}</button>
                <button class="accept-btn" (click)="exit()">{{"Profile.exit-modal.accept-btn" | translate}}</button>
            </div>
        </div>
    </div>
</div>