.exit-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--foodCardBg);
    padding: 24px 0 36px 0;
    border: 1px solid var(--greyscaleColor100);
    border-radius: 44px 44px 0px 0px;
    &_header {
        text-align: center;
        h4 {
            margin-bottom: 0;
            margin-top: 0;
            color: var(--errorColor);
        }
    }
    &_content {
        h5 {
            margin-top: 48px;
            margin-bottom: 24px;
            color: var(--greyscaleColor800);
            text-align: center;
        }

    }
    &_actions {
        display: flex;
        justify-content: space-between;
        button {
            padding-left: 45px;
            padding-right: 45px;
        }
        .cancel-btn {
            font-weight: 700;
            color: var(--primaryColor);
            background: var(--secondaryBtnColor);
            text-shadow: 4px 8px 24px rgba(27, 172, 75, 0.25);
        }
    }
}