<div class="profile-settings">
    <div class="container">
        <div class="profile-settings_header">
            <img src="../../../../assets/icons/profile-logo.svg" alt="logo">
            <h4>{{"Profile.title" | translate}}</h4>
        </div>
        <div class="profile-settings_user_data">
            <ng-container #userDataLoading *ngIf="profileImgLoaded == false">
                <ngx-skeleton-loader count="1" appearance="circle" [theme]="{width: '70px', height: '70px'}"></ngx-skeleton-loader>
                <div class="profile-settings_user_name">
                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{width: '30vw', display: 'block'}"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{width: '22vw'}"></ngx-skeleton-loader>
                </div>
                <ngx-skeleton-loader count="1" appearance="line" [theme]="{width: '25px'}"></ngx-skeleton-loader>
            </ng-container>
            <ng-container *ngIf="(selectUserData$ | async) as userData">
                <img
                    [ngStyle]="{'display': profileImgLoaded ? 'initial' : 'none'}"
                    [src]="userData.image || '../../../../assets/icons/user-photo.svg'"
                    alt="user-image"
                    class="user-image"
                    (load)="profileImgLoaded = true">
                <div class="profile-settings_user_name" [ngStyle]="{'display': profileImgLoaded ? 'initial' : 'none'}">
                    <h5>{{userData.first_name + ' ' +  userData.last_name}}</h5>
                    <span>{{userData.phone}}</span>
                </div>
                <img src="../../../../assets/icons/edit.svg" alt="edit" routerLink="/profile" [ngStyle]="{'display': profileImgLoaded ? 'initial' : 'none', 'cursor': 'pointer'}">
            </ng-container>
        </div>
        <div class="profile-settings_additional">
            <ul>
                <li>
                    <div class="profile-settings_item">
                        <img src="../../../../assets/icons/discount.svg" alt="icon">
                        <span>{{"Profile.events" | translate}}</span>
                    </div>
                    <img src="../../../../assets/icons/arrow-right.svg" alt="go" class="arrow-right arrow">
                </li>
                <li routerLink="/payment/payment-methods">
                    <div class="profile-settings_item">
                        <img src="../../../../assets/icons/wallet.svg" alt="icon">
                        <span>{{"Profile.payment" | translate}}</span>
                    </div>
                    <img src="../../../../assets/icons/arrow-right.svg" alt="go" class="arrow-right arrow">
                </li>
            </ul>
        </div>
        <div class="profile-settings_main">
            <ul>
                <li routerLink="/profile">
                    <div class="profile-settings_item">
                        <img src="../../../../assets/icons/profile-black.svg" alt="icon" [style.margin-left]="'2px'">
                        <span>{{"Profile.profile" | translate}}</span>
                    </div>
                    <img src="../../../../assets/icons/arrow-right.svg" alt="go" class="arrow-right arrow">
                </li>
                <li routerLink="/profile/address">
                    <div class="profile-settings_item">
                        <img src="../../../../assets/icons/location-thin.svg" alt="icon" [style.margin-left]="'2px'">
                        <span>{{"Profile.address" | translate}}</span>
                    </div>
                    <img src="../../../../assets/icons/arrow-right.svg" alt="go" class="arrow-right arrow">
                </li>
                <li routerLink="/profile/notifications">
                    <div class="profile-settings_item">
                        <img src="../../../../assets/icons/notification.svg" alt="icon">
                        <span>{{"Profile.notification" | translate}}</span>
                    </div>
                    <img src="../../../../assets/icons/arrow-right.svg" alt="go" class="arrow-right arrow">
                </li>
                <li routerLink="/profile/favorites">
                    <div class="profile-settings_item">
                        <img src="../../../../assets/icons/heart.svg" alt="icon">
                        <span>{{"Profile.favorite-meals" | translate}}</span>
                    </div>
                    <img src="../../../../assets/icons/arrow-right.svg" alt="go" class="arrow-right arrow">
                </li>
                <li routerLink="/profile/language">
                    <div class="profile-settings_item">
                        <img src="../../../../assets/icons/language.svg" alt="icon">
                        <span>{{"Profile.language" | translate}}</span>
                    </div>
                    <div class="profile-settings_language">
                        <span>{{"Profile.language-name" | translate}}</span>
                        <img src="../../../../assets/icons/arrow-right.svg" alt="go" class="arrow-right arrow">
                    </div>
                </li>
                <li>
                    <div class="profile-settings_item">
                        <img src="../../../../assets/icons/eye.svg" alt="icon">
                        <span>{{"Profile.dark-mode" | translate}}</span>
                    </div>
                    <div class="profile-settings_toggle_mode">
                        <input type="checkbox" id="modeToggle" (click)="modeToggleService.toggleMode()" [checked]="modeToggleService.get() == 'dark' ? true : false"><label for="modeToggle" class="modeToggle ios"></label>
                    </div>
                </li>
                <li routerLink="/profile/support">
                    <div class="profile-settings_item">
                        <img src="../../../../assets/icons/support.svg" alt="icon">
                        <span>{{"Profile.support" | translate}}</span>
                    </div>
                    <img src="../../../../assets/icons/arrow-right.svg" alt="go" class="arrow-right arrow">
                </li>
                <li>
                    <div class="profile-settings_item">
                        <img src="../../../../assets/icons/friends.svg" alt="icon">
                        <span>{{"Profile.invite-friends" | translate}}</span>
                    </div>
                    <img src="../../../../assets/icons/arrow-right.svg" alt="go" class="arrow-right arrow">
                </li>
                <li (click)="exit('0ms', '0ms')">
                    <div class="profile-settings_item">
                        <img src="../../../../assets/icons/exit.svg" alt="icon" [style.filter]="'invert(0)'">
                        <span>{{"Profile.exit" | translate}}</span>
                    </div>
                    <img src="../../../../assets/icons/arrow-right.svg" alt="go" class="arrow-right arrow">
                </li>
            </ul>
        </div>
    </div>
    <app-bottom-navigation></app-bottom-navigation>
</div>
