.bottom-navigation {
    position: fixed;
    bottom: 0;
    background: var(--bottomNavigationBg);
    width: 100vw;
    z-index: 1000;
    &_content {
        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 0;
            gap: 19px;
        }
        li {
            position: relative;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            img {
                width: 24px;
                height: 24px;
                margin-right: auto;
                margin-left: auto;
            }
            span {
                font-size: 10px;
                font-weight: 500;
                color: var(--greyscaleColor500);
                text-align: center;
                padding-top: 3px;
            }
            .notification {
                position: absolute;
                width: 6px;
                height: 5px;
                left: 5px;
                border-radius: 100%;
                background: red;
            }
        }
        .bottom_nav_active {
            span {
                color: var(--primaryColor);
            }
        }
    }
}