.auth {
    &_content {
        display: flex;
        padding: 16px 0 48px 0;
        flex-direction: column;
        align-items: center;
        gap: 64px;
        flex-shrink: 0;
    }
    &_form {
        display: flex;
        flex-direction: column;
        width: 100%;
        button {
            font-weight: 700;
            margin-top: 24px;
            &:disabled {
                background:var(--disabledColor);
                box-shadow: none;
            }
        }
        input {
            font-weight: 600;
            letter-spacing: 0.2px;
            background: var(--greyscaleColor50);
            padding: 20px 20px;
            border: none;
            border-radius: 16px;
        }
    }
    &_back {
        align-self: flex-start;
    }
}