<section class="auth">
    <div class="container">
        <div class="auth_content">
            <div class="auth_back"></div>
            <div class="auth_logo"><img src="../../../../assets/icons/logo.svg" alt="Logo"></div>
            <div class="auth_title">{{"Auth.title" | translate}}</div>
            <div class="auth_form">
                <input type="text">
                <button>{{"Auth.btn" | translate}}</button>
            </div>
            <div class="auth_agreement"></div>
        </div>
    </div>
</section>