<section class="auth">
    <div class="container">
        <div class="auth_content">
            <div class="auth_back"><img src="../../../../assets/icons/arrow-left.svg" alt="back"></div>
            <div class="auth_logo"><img src="../../../../assets/icons/logo.svg" alt="Logo"></div>
            <div class="auth_title">
                <h3>{{"Auth.title" | translate}}</h3>
            </div>
            <form class="auth_form" [formGroup]="authForm" (ngSubmit)="login()">
                <input type="text"
                       placeholder="+998 00 000 00 00"
                       prefix="+998"
                       mask="(00)-000-00-00"
                       formControlName="phoneNum"
                       #phoneNum>
                <button (click)="login()" [disabled]="phoneNum.value.length !== 18">{{"Auth.btn" | translate}}</button>
            </form>
            <div class="auth_agreement"></div>
        </div>
    </div>
</section>
