/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "../src/styles/variables";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Urbanist:wght@400;500;600;700&display=swap');

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Urbanist', sans-serif;
    box-sizing: border-box
}

body {
    padding: 0;
    margin: 0;
}

body.dark {
    @include darken();
    .profile-settings_item {
        img {
            filter: invert(1);
        }
    }
    .arrow, .notifications_img, .more-icon, .update_location-icon  {
        filter: invert(1);
    }
    input {
        border: 1px solid var(--greyscaleColor200);
    }
  }
body.light {
    @include lighten();
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}
button:not(.mat-calendar button) {
    font-size: 16px;
    background: var(--primaryColor);
    color: white;
    box-shadow: 4px 8px 24px 0px rgba(27, 172, 75, 0.25);
    padding: 18px 16px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    &:disabled {
        background:var(--disabledColor);
        box-shadow: none;
    }
}

input {
    font-weight: 600;
    letter-spacing: 0.2px;
    background: var(--greyscaleColor50);
    padding: 20px 20px;
    border: none;
    border-radius: 16px;
}

.container {
    padding-left: 24px;
    padding-right: 24px;
}

.input_error {
    position: absolute;
    width: 100%;
    color: var(--errorColor);
    text-align: center;
}

@media (max-width: 384px) {
    .container {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}