<section class="search-page">
    <div class="container">
        <div class="search-page_header">
            <img src="../../../../assets/icons/arrow-left.svg" alt="back" class="back-icon arrow" (click)="location.back()">
            <div class="search-page_input">
                <app-search></app-search>
            </div>
        </div>
        <div class="search-page_content">
            <div class="recent-search search-page_section">
                <h5>{{"Home.search-page.recent-search" | translate}}</h5>
                <mat-chip-listbox>
                    <mat-chip-option>Pizza</mat-chip-option>
                    <mat-chip-option>Salad</mat-chip-option>
                    <mat-chip-option>Vegetarian</mat-chip-option>
                    <mat-chip-option>Dessert</mat-chip-option>
                    <mat-chip-option>Pancakes</mat-chip-option>
                </mat-chip-listbox>
            </div>
            <div class="popular-meals search-page_section">
                <h5>{{"Home.search-page.popular-meals" | translate}}</h5>
                <mat-chip-listbox>
                    <mat-chip-option>Breakfast</mat-chip-option>
                    <mat-chip-option>Snack</mat-chip-option>
                    <mat-chip-option>Fast Food</mat-chip-option>
                    <mat-chip-option>Beverages</mat-chip-option>
                    <mat-chip-option>Seafood</mat-chip-option>
                </mat-chip-listbox>
            </div>
            <div class="all-meals search-page_section">
                <h5>{{"Home.search-page.all-meals" | translate}}</h5>
                <mat-chip-listbox>
                    <mat-chip-option>Pizza</mat-chip-option>
                    <mat-chip-option>Bakery & Cake</mat-chip-option>
                    <mat-chip-option>Dessert</mat-chip-option>
                </mat-chip-listbox>
            </div>
        </div>
    </div>
</section>
<!-- <app-filter></app-filter> -->