<div class="edit_food_modal" #editFoodModal>
    <div class="edit_food_modal_content">
        <h4> {{this.order.name}}</h4>
        <div class="food-info_amount">
            <button class="counter-btn" (click)="changeAmount(false)">-</button>
            <h3 class="food-info_amount_value">{{this.order.quantity}}</h3>                    
            <button class="counter-btn" (click)="changeAmount(true)">+</button>
        </div>
        <input type="text" [value]="this.order.note">
        <div class="edit_food_modal_actions">
            <button mat-dialog-close class="cancel-btn">{{"Home.food-info.cancel" | translate}}</button>
            <button mat-dialog-close (click)="editOrder()">{{"Home.food-info.edit" | translate}}</button>
        </div>
    </div>
</div>