<section class="notifications">
    <div class="container">
        <div class="notifications_header">
            <img src="../../../../assets/icons/arrow-left.svg" alt="back" class="back-icon arrow" (click)="location.back()">
            <h4>{{"Home.notifications.title" | translate}}</h4>
        </div>
        <div class="notifications_content">
            <div class="notifications_item" *ngFor="let notification of notifications">
                <div class="notifications_item_header">
                    <div class="notifications_item_header_content">
                        <img [src]="notification.image" alt="notification">
                        <div class="notifications_item_header_text">
                            <h5>{{notification.title}}</h5>
                            <span>{{notification.created_date + ' | ' + notification.created_time}}</span>
                        </div>
                    </div>
                    <span class="notifications_item_header_state">{{"Home.notifications.new" | translate}}</span>
                </div>
                <div class="notifications_item_content">
                    {{notification.body}}
                </div>
            </div>
        </div>
    </div>
</section>