.update_location {
    min-height: 100vh;
    padding-bottom: 48px;
    background: var(--mainBg);
    &_back {
        display: flex;
        justify-content: flex-start;
        padding-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        h4 {
            color: var(--greyscaleColor900);
            margin-left: 16px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
            color: var(--greyscaleColor900);
        }
        .choose-location, .location-name {
            width: 100%;
            position: relative;
            display: inline-block;
            img {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            } 
            input {
                font-size: 12px;
                width: 100%;
                padding-right: 30px;
                background: var(--mainBg);
                color: var(--searchTextColor);
            }
        }
        .choose-location {
            position: relative;
            margin-bottom: 24px;
        }
        .location-name {
            padding-top: 24px;
            padding-bottom: 24px;
            border-top: 1px solid var(--greyscaleColor200);
        }
    }
 
    &_actions {
        display: flex;
        justify-content: space-between;
        .delete_btn {
            background:var(--secondaryBtnColor);
            color: var(--successColor);
        }
        button {
            font-weight: 700;
            padding-left: 45px;
            padding-right: 45px;
        }
    }
    .input_error {
        font-size: 14px;
        left: 0;
        bottom: -15px;
    }
}