<section class="location">
        <div class="location_content">
            <div class="container">
                <div class="location_back">
                    <img src="../../../../assets/icons/arrow-left.svg" alt="back" class="back-icon arrow" (click)="this.location.back()">
                    <h4>{{"Profile.title" | translate}}</h4>
                </div>
            </div>
            <div class="location_map">
                <div id="map" style="width: 99%; height: 250px" #yamaps></div>   
            </div>
            <div class="container">
                <form class="location_form" [formGroup]="locationForm">
                    <h4>Выберите Адрес Доставки</h4>
                    <div class="choose-location">
                        <img src="../../../../assets/icons/location.svg" alt="location" class="location-icon">
                        <input type="text"
                               id="suggest"
                               formControlName="locationAddress"
                               placeholder="{{'Location.write-address' | translate}}"
                               (input)="onInputChange()"
                               #suggestInput>
                        <span *ngIf="locationForm.get('locationAddress')!.hasError('unsupportedLocation')" class="input_error">
                            {{errorMsg}}
                        </span>
                        <div class="possible-locations" *ngIf="possibleLocations.length > 0">
                            <p *ngFor="let location of possibleLocations.slice(0,5)" (click)="sendAdress(location)">
                                {{ location.display_name.slice(0,-30) }}
                            </p>
                        </div>
                    </div>
                    <div class="location-name">
                        <input type="text" formControlName="locationName" placeholder="{{'Location.address-name' | translate}}">
                    </div>
                </form>
                <div class="location_save_btn">
                    <button *ngIf="!isLocationButtonDisabled" (click)="onSubmit()">{{'Location.btn' | translate}}</button>
                    <button *ngIf="isLocationButtonDisabled" class="loading-spinner-button" style="width:35vw"></button>
                </div>
            </div>
        </div>
</section>